@font-face{
    font-family: Airport;
    src: url(../font/Airport.otf) format('truetype');
}
.bg {
    background-color: rgb(0, 0, 0);
    min-width: 1850px;
}
.head{
    font-family: Airport;
    font-size: 400px;
}